#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(gif1.gif) no-repeat center;
    z-index: 100;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(77, 77, 74);
}
.hoverdoctor:hover{
 transform: scale(1.1,1.1);
 border: 2px solid black;
}
.hoverdoctor{
    border: 1px solid  rgb(77, 77, 74);
}